@font-face {
    font-family: "iconfont";
    src: url("https://at.alicdn.com/t/font_1147625_wxzyoqhma6q.ttf");
}
.iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
}
.icon-microphone:before {
    content: "\e634";
}
.icon-wechat:before {
    content: "\e65d";
}
.icon-start-circle:before {
    content: "\e6cf";
}
.icon-stop:before {
    content: "\e62c";
}
.icon-phone:before {
    content: "\e6be";
}
.icon-more:before {
    content: "\e61d";
}
.icon-arrows:before {
    content: "\e62a";
}
.icon-wave:before {
    content: "\e703";
}
.icon-collected:before {
    content: "\e79d";
}
.icon-stop-circle:before {
    content: "\e66a";
}
.icon-dynamic:before {
    content: "\e640";
}
.icon-microphone2:before {
    content: "\e601";
}
.icon-start:before {
    content: "\e8c6";
}
.icon-image:before {
    content: "\e887";
}
.icon-share:before {
    content: "\e894";
}
.icon-call:before {
    content: "\e89c";
}
.icon-card-year:before {
    content: "\e8a4";
}
.icon-card-quarter:before {
    content: "\e8a5";
}
.icon-card-month:before {
    content: "\e8a6";
}
.icon-member:before {
    content: "\e8a7";
}
.icon-clock:before {
    content: "\e8a9";
}
.icon-ban:before {
    content: "\e8ab";
}
.icon-close:before {
    content: "\e8ac";
}
.icon-right:before {
    content: "\e8ad";
}
.icon-black-list:before {
    content: "\e8ae";
}
.icon-security:before {
    content: "\e8af";
}
.icon-member-o:before {
    content: "\e8b3";
}
.icon-plus:before {
    content: "\e8b4";
}
.icon-delete:before {
    content: "\e8b2";
}
.icon-prologue:before {
    content: "\e8b8";
}
.icon-remind:before {
    content: "\e8b9";
}
.icon-logo:before {
    content: "\e8ba";
}
.icon-modal-close:before {
    content: "\e8bb";
}
.icon-choose:before {
    content: "\e8bc";
}
.icon-arrow-right:before {
    content: "\e8bd";
}
.icon-add:before {
    content: "\e8be";
}
.icon-arrow-left:before {
    content: "\e8c7";
}
.icon-arrow-bottom:before {
    content: "\e8c8";
}
.icon-arrow-top:before {
    content: "\e8c9";
}
.icon-wave-wx:before {
    content: "\e8c0";
}
.icon-explain:before {
    content: "\e8c1";
}
.icon-collect:before {
    content: "\e8ca";
}
.icon-search:before {
    content: "\e8cb";
}
.icon-voice:before {
    content: "\e8cc";
}
.icon-call2:before {
    content: "\e8cd";
}
.icon-mark:before {
    content: "\e8ce";
}
.icon-service:before {
    content: "\e8cf";
}
.icon-member-add:before {
    content: "\e8d0";
}
.icon-arrows-bottom:before {
    content: "\e8d1";
}
.icon-recover:before {
    content: "\e8d2";
}
.icon-waimai:before {
    content: "\e8d4";
}
.icon-kuaidi:before {
    content: "\e8d3";
}
.icon-xinrenyindao:before {
    content: "\e8d5";
}
.icon-woyouhuashuo:before {
    content: "\e8d6";
}
.icon-bangzhuzhongxin:before {
    content: "\e8d7";
}
.icon-jujiemingdan:before {
    content: "\e8d8";
}
.icon-dankuangchahao:before {
    content: "\e8d9";
}
.icon-edit:before {
    content: "\e8db";
}
.icon-invite:before {
    content: "\e8dc";
}
.icon-waimai1:before {
    content: "\e8de";
}
.icon-jujue:before {
    content: "\e8e1";
}
.icon-wuxinhao:before {
    content: "\e8e3";
}
.icon-wurenjieting:before {
    content: "\e8e4";
}
.icon-kuaidi1:before {
    content: "\e8e6";
}
.icon-laidian:before {
    content: "\e8e9";
}
.icon-edit1:before {
    content: "\e646";
}
.icon-jujie1:before {
    content: "\e8ec";
}
.icon-talk:before {
    content: "\e8ee";
}
.icon-address:before {
    content: "\e8f1";
}
.icon-listen:before {
    content: "\e8f2";
}
.icon-addfriends:before {
    content: "\e8f5";
}
.icon-talk2:before {
    content: "\e8f8";
}
